#markdown

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

In [2]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
purchase_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [4]:
# Remove the rows with missing data, if any!
clean_purchase_data_df = purchase_data_df.dropna(how="any")
purchase_data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [5]:
#Use pd.to_numeric() method to convert datatype in column Price
purchase_data_df['Price']=pd.to_numeric(purchase_data_df['Price'])

In [6]:
purchase_data_df['Price'].dtype

dtype('float64')

In [7]:
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

## Player Count

* Display the total number of players

In [8]:
players = len(purchase_data_df['SN'].value_counts())

players_total = pd.DataFrame({'Total Number of Players':[players]})

players_total

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
#finding unique items
unique_items = len(purchase_data_df['Item ID'].unique())
unique_items

179

In [10]:
#finding average price

average_price = purchase_data_df['Price'].mean()
average_price

3.050987179487176

In [11]:
#number of purchases

purchases = len(purchase_data_df['Item ID'])
purchases

780

In [12]:
total_revenue = purchase_data_df['Price'].sum()
total_revenue

2379.77

In [13]:
average_price = purchase_data_df['Price'].mean()
purchases = len(purchase_data_df['Item ID'])
total_revenue = purchase_data_df['Price'].sum()

purchasing_analysis = pd.DataFrame({'Number of Unique Items':[unique_items], 'Average Price':[average_price],
                                   'Number of Purchases':[purchases], 'Total Revenue': [total_revenue]})




# #summary of data frame
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:.2f}".format)

purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases  Total Revenue
0                     179         $3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [14]:
#group by gender 

gender_group = purchase_data_df[['SN','Gender']]
gender_group = gender_group.drop_duplicates()

gender_count = gender_group['Gender'].value_counts()

gender_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [15]:
males_count = gender_count[0]
males_percent = [round((males_count/players)*100,2)]
males_percent

[84.03]

In [16]:
females_count = gender_count[1]
females_percent = [round((females_count/players)*100,2)]
females_percent

[14.06]

In [17]:
others_count = gender_count[2]
others_percent = [round((others_count/players)*100,2)]
others_percent

[1.91]

In [18]:
all_count = [ males_count, females_count, others_count]
gender_info = pd.DataFrame({ 'Percentage of Players': [males_percent, females_percent, others_percent], 
                           'Total Counts': [males_count, females_count, others_count]})
gender_info.index.name = None
gender_info.index =(['Male', 'Female', 'Other / Non-Disclosed'])
gender_info

                      Percentage of Players  Total Counts
Male                                [84.03]           484
Female                              [14.06]            81
Other / Non-Disclosed                [1.91]            11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
#calculate purchase count
basic_calc_df = purchase_data_df.groupby(['Gender'])
total_of_purchases = basic_calc_df['Price'].count()
total_of_purchases

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [20]:
#calculate average purchase price

purchase_avg = basic_calc_df['Price'].mean()   # calculates the average
purchase_avg.round(4)

Gender
Female                   3.2030
Male                     3.0179
Other / Non-Disclosed    3.3460
Name: Price, dtype: float64

In [21]:
#calculate purchase total
number_of_purchases = basic_calc_df['Price'].sum()
number_of_purchases

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [22]:
#Summary Dataframe
basic_calc_df = purchase_data_df.groupby(['Gender'])
summary_df = pd.DataFrame({'Purchase Count':total_of_purchases, 'Average Purchase Price':purchase_avg,
                          'Total Purchase per Person':number_of_purchases})
summary_df

,Purchase Count,Average Purchase Price,Total Purchase per Person
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

In [23]:
#Optional: display results with formatting and display

summary_df['Purchase Count'] = summary_df['Purchase Count'].map('{:.2f}'.format)
summary_df['Average Purchase Price'] = summary_df['Average Purchase Price'].map('${:.2f}'.format)
summary_df['Total Purchase per Person'] = summary_df['Total Purchase per Person'].map('${:.2f}'.format)

summary_df

,Purchase Count,Average Purchase Price,Total Purchase per Person
Gender,,,
Female,113.00,$3.20,$361.94
Male,652.00,$3.02,$1967.64
Other / Non-Disclosed,15.00,$3.35,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [24]:
#find minimum and maximum age
max_view = purchase_data_df.Age.max()
min_view = purchase_data_df.Age.min()
print(max_view, min_view)

45 7

In [25]:
#increase the range of age to max = 50 and min= 5
determine_range =(50-5)/5
print(determine_range)

9.0

In [26]:
#Bins for ages
bins =       [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 110]
age_groups = ["<10", "10-14", "15-19","20-24", "25-29", "30-34", "35-39", "40+"]

#categorize players using the bins.
age_span = purchase_data_df
age_span['Age Demographics'] = pd.cut(age_span['Age'], bins, labels=age_groups)
age_category = age_span.groupby('Age Demographics').count()
age_category = age_category.drop(columns = ['SN', 'Age', 'Item ID', 'Item Name', 'Price', 'Purchase ID'])
age_category = age_category.rename(index = str, columns = {'Gender': 'Total Count'})
age_category['Percentage of Players'] = age_category['Total Count'] / (age_category['Total Count'].sum()) *100
age_category

                  Total Count  Percentage of Players
Age Demographics
<10                        23               2.948718
10-14                      28               3.589744
15-19                     136              17.435897
20-24                     365              46.794872
25-29                     101              12.948718
30-34                      73               9.358974
35-39                      41               5.256410
40+                        13               1.666667

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
#binning the purchase data by age
age_span = age_span.groupby(['Age Demographics'])
#purchase count
age_count = age_span['Price'].sum()
#average purchase price
age_avg_purchase_price = age_span['Price'].mean()
#purchase total/person
age_total_purchase_price = age_span['Price'].count()

#dataframe

summarryPA_age = pd.DataFrame({"Purchase Count": age_count, "Average Purchase Price": age_avg_purchase_price,
                              "Purchase Total per Person": age_total_purchase_price})
summarryPA_age

,Purchase Count,Average Purchase Price,Purchase Total per Person
Age Demographics,,,
<10,77.13,3.353478,23
10-14,82.78,2.956429,28
15-19,412.89,3.035956,136
20-24,1114.06,3.052219,365
25-29,293.00,2.900990,101
30-34,214.00,2.931507,73
35-39,147.67,3.601707,41
40+,38.24,2.941538,13

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [28]:
#calculations needed to determine top spenders

top_spender = purchase_data_df.groupby("SN")
top_spender_count = top_spender["Price"].count()
top_spender_sum = top_spender["Price"].sum()
top_spender_avg = top_spender["Price"].mean()

#data frame to display the top spenders
top_spender_summary = pd.DataFrame({"Number of Purchases": top_spender_count, "Total Number of Purchases":
                      top_spender_sum, "Average Spent": top_spender_avg})

#Optional: formatting truncate to two decimal places

top_spender_summary["Number of Purchases"] = top_spender_summary["Number of Purchases"].map('${:.2f}'.format)
top_spender_summary['Total Number of Purchases'] = top_spender_summary['Total Number of Purchases'].map('${:.2f}'.format)
top_spender_summary['Average Spent'] = top_spender_summary['Average Spent'].map('${:.2f}'.format)

#print dataframe in descending order
sort_df = top_spender_summary.sort_values(by=["Number of Purchases"], ascending=False)
sort_df.reset_index(inplace = True)
sort_df

               SN Number of Purchases Total Number of Purchases Average Spent
0       Lisosia93               $5.00                    $18.96         $3.79
1          Iral74               $4.00                    $13.62         $3.41
2     Idastidru52               $4.00                    $15.45         $3.86
3          Asur53               $3.00                     $7.44         $2.48
4       Inguron55               $3.00                    $11.11         $3.70
..            ...                 ...                       ...           ...
571        Hala31               $1.00                     $1.02         $1.02
572    Haisurra41               $1.00                     $4.40         $4.40
573   Hailaphos89               $1.00                     $3.81         $3.81
574  Haestyphos66               $1.00                     $1.97         $1.97
575    Iskosian40               $1.00                     $3.07         $3.07

[576 rows x 4 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [34]:
#call out columns for the most popular items
popular = purchase_data_df[["Item ID", "Item Name", "Price"]]

# Group by Item ID and Item Name
popular_group = popular.groupby(["Item ID","Item Name"])

# calculation for purchase count 
popular_count = popular_group["Price"].count()

# calculation of total purchase value
popular_purchase = (popular_group["Price"].sum())

# determine the average price of item
popular_price = popular_purchase/popular_count

# dataframe
most_popular = pd.DataFrame({"Total of Purchases": popular_count, 
                                   "Item Price": popular_price,
                                   "Most Popular Purchases":popular_purchase})

# Sorting
popular_formatted = most_popular.sort_values(["Total of Purchases"], ascending=False).head()

#Optional: formatting truncate to two decimal places
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total of Purchases":"${:,.2f}", "Most Popular Purchases":"${:,.2f}" })

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [38]:
money_maker_df = most_popular.sort_values(by=['Total of Purchases'], ascending= False)
money_maker_df.reset_index(inplace= True)
money_maker_df.head()
money_maker_df.style.format({"Item Price": "${:,.2f}"})